.blog-table-of-contents {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 330px - 16px);
  overflow: hidden auto;
  min-width: 222px;
  overflow: auto;

  a {
    text-decoration: none;
  }
  
  &__entry {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-bottom: 0.15rem;
    margin-left: 0.15rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 0.9rem;
    transition: all 0.3s;

    &:hover {
      background-color: var(--light);
      cursor: pointer;
    }
  }

  &__header {
    margin-left: 0.25rem;
    &:hover {
      margin-left: 0.5rem;
    }
  }

  &__sub_header {
    margin-left: 1.25rem;
    &:hover {
      margin-left: 1.5rem;
    }
  }

  &__sub_sub_header {
    margin-left: 2.25rem;
    &:hover {
      margin-left: 2.5rem;
    }
  }

  &-title {
    color: var(--header-color);
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--light);
  }
}

@media (min-width: 1300px) and (min-height: 300px) {
  .blog-notion-aside {
    display: flex;
    top: calc(min(330px, 30vh));
    align-items: baseline;
    margin-left: 4rem;
    transition: 0.2s opacity;
    opacity: 0.3;
  }

  .blog-notion-aside:hover {
    opacity: 1;
  }
}
