.blog-post-image-container {
  margin-top: 2rem;
  transition: 0.3s all;
  opacity: 1;
}

.not-in-view {
  opacity: 0;
}

@media (min-width: 1300px) and (min-height: 300px) {
  .blog-post-container {
    display: flex;
    flex-direction: row;
    width: calc((100vw + var(--notion-max-width)) / 2);
  }

  .blog-post-notion-container {
    width: var(--notion-max-width);
    max-width: var(--notion-max-width);
    padding: 0;
    margin: 0;
  }
}

.blog-post-title-container {
  margin: 0 auto;
}

.blog-post-image-container {
  text-align: center;
}

.blog-post-title {
  padding-left: 1rem;
  display: inline-block;
  flex: 1;
  font-size: 2rem;
  margin: 0;
}

@media only screen and (max-width: 640px) {
  .blog-post-container {
    margin-top: 0;
  }
  .blog-post-title {
    margin: 0;
  }
}
