/* https://coolors.co/6290c3-c2e7da-f1ffe7-1a1b41-baff29 */

:root {
  --main: #016fb9;
  --main-offset: #145682;
  --secondary: #01b94a;
  --secondary-offset: #20a4c5;
  --highlight: #54e7ff;
  --header-color: #202020;
  --body-color: #202020;
  --background: #fafafa;
  --light: #f2f2f2;
  --light-text: #8f8f8f;
  --xlight-text: #bcbcbc;
}

html,body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: var(--background);
  color: var(--body-color);
  position: relative;
}

a:link {
  color: var(--main);
}

a:visited {
  color: var(--secondary-offset);
}

a:hover {
  color: var(--secondary);
}

.root-container {
  max-width: var(--notion-max-width);
  margin: 0 auto;
  position: relative;
}

.root-container.extended {
  margin: -7rem auto 0 auto;
}

@-webkit-keyframes headerAnimate {
  0%{background-position:25% 0%}
  50%{background-position:100% 100%}
  100%{background-position:25% 0%}
}
@-moz-keyframes headerAnimate {
  0%{background-position:25% 0%}
  50%{background-position:100% 100%}
  100%{background-position:25% 0%}
}
@keyframes headerAnimate {
  0%{background-position:25% 0%}
  50%{background-position:100% 100%}
  100%{background-position:25% 0%}
}

.header-parent-container {
  background: 
  radial-gradient(
    circle at right top,
    var(--main), 
    transparent
  ),
  radial-gradient(
    ellipse at right bottom,
    var(--secondary-offset), 
    transparent
  ),
  radial-gradient(
    ellipse at left bottom,
    var(--secondary),
    transparent
  ),
  radial-gradient(
    circle at left top,
    var(--main),
    transparent
  ),
  radial-gradient(
    circle at center,
    var(--secondary-offset), 
    transparent
  );
background-size: 400% 100%;
-webkit-animation: headerAnimate 20s ease infinite;
-moz-animation: headerAnimate 20s ease infinite;
animation: headerAnimate 20s ease infinite;
padding-top: 1.5rem;
}

.header-container {
  height: 4rem;
  max-width: var(--notion-max-width);
  padding-left: calc(min(12px, 8vw));
  padding-right: calc(min(12px, 8vw));
  margin: 0 auto;

  &.extended {
    height: 10rem;
  }
}

.header-social-container {
  text-align: right;
  vertical-align: middle;
  display: inline-block;

  &.mobile {
    position: absolute;
    left: 50px;
    top: 31px;
    z-index: 2;
  }
}

.social-icon-container {
  display: inline-block;
  margin-left: 16px;

  svg {
    fill: var(--body-color);
    cursor: pointer;
    transition: 0.3 all;
    &:hover {
      fill: var(--secondary-offset);
    }
  }
}

.page-content {
  margin: 0 auto;
}

.navigation-container {
  vertical-align: middle;
  height: 32px;
  float: right;
}

a.navigation-header-text {
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid var(--header-color);
  color: var(--header-color);
  font-weight: 700;
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 0.2rem;
  line-height: 32px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  z-index: 2;
  transition: 0.3s all;

  &:hover {
    background-color: var(--main);
  }

  &.mobile {
    position: absolute;
    color: var(--header-color);
  }
}

.navigation-inner-container {
  float: right;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;

  &:focus {
    top:0;
  }
}

.page-footer {
  font-size: 1rem;
  color: var(--body-text);
  border-top: 1px solid var(--light-text);
  margin-top: 2rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

@media (max-width: 640px) {
  .page-footer {
    text-align: center;
  }
}
